{% extends 'base.html' %}
{% block content %}
<div id="error_flash" class="alert_flash alert pt-4 text-center text-light font-weight-bold position-fixed bg-info overflow-auto">
    <p>
        Ooops! Well this is embarrasing... 
    </p>
    <p>
        Something went wrong. Please try again.
    </p>
</div>
<div id="update_flash" class="alert_flash alert pt-4 text-center text-light font-weight-bold position-fixed bg-info overflow-auto">
    <p>
        You successfully created a new listing!
    </p>
    <p>
        Go to your items to see it.
    </p>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="brand-img ml-4" src="../static/images/brand_img.png">
    <a class="navbar-brand brand" href="../">
        <span class="brand-title">
            RES
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../sell" tabindex="-1" aria-disabled="false">Your Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../buy" tabindex="-1" aria-disabled="false">Buy</a>
            </li>
        </ul>
    <div>
</nav>
<div class="container-fluid">
    <div class="row m-4">
        <div class="col">
            <h5 class="text-uppercase mb-3">
                Add Item
            </h5>
            <form id="add_item_form">
                <div class="form-group">
                    <label for="item-id">Item ID:</label>
                    <input id="item-id" class="form-control" type="number" placeholder="{{items_index}}" readonly>
                </div>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input id="title" class="form-control" type="text" aria-describedby="titleHelp" placeholder="Enter title" minlength="2" required>
                    <small id="titleHelp" class="m-1 form-text text-muted">Please enter the name of the item you wish to sell.</small>
                </div>
                <div class="form-group">
                    <label for="location">Location:</label>
                    <input id="location" class="form-control" type="text" aria-describedby="locationHelp" placeholder="Enter location" minlength="2" required>
                    <small id="locationHelp" class="m-1 form-text text-muted">Please enter the location of the item in the following format: State, City/Borough, Zip Code</small>
                </div>
                <div class="form-group">
                    <label for="img">Image:</label>
                    <input id="img" class="form-control" type="url" aria-describedby="imgHelp" placeholder="Enter image URL" required>
                    <small id="imgHelp" class="m-1 form-text text-muted">Please enter the url of an image for the item. You can create one for free at: https://imgbb.com.</small>
                </div>
                <div class="form-group">
                    <label for="categories">Categories: </label>
                    <select multiple class="form-control" id="categories" required>
                        <a class="dropdown-item" href="../buy">All Items</a>
                        <div class="dropdown-divider"></div>
                        <option>household</option>
                        <option>furniture</option>
                        <option>electronics</option>
                        <option>appliances</option>
                        <option>tools</option>
                    </select>
                    <small id="categoriesHelp" class="m-1 form-text text-muted">Choose one or more categories.</small>
                </div>
                <div class="form-group">
                    <label for="textareaDetails">Details:</label>
                    <textarea class="form-control" id="textareaDetails" rows="3" required></textarea>
                    <small id="textareaDetailsHelp" class="m-1 form-text text-muted">Describe the item in the area above.</small>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label> $
                    <input display='inline' id="price" class="form-control" type="number" min="0.00" max="10000.00" step="0.01" aria-describedby="priceHelp" placeholder="" minlength="5" required>
                    <small id="priceHelp" class="m-1 form-text text-muted">Please enter the price of the item in the following format: dddd.cc</small>
                </div>
            </form>
            <button id="submit_item" type="submit" class="btn btn-info mb-5 float-right">
                Submit
            </button>
            <button id="cancel" type="button" class="btn btn-secondary mb-5 mx-2 float-right">
                Cancel
            </button>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}

        <script type="text/javascript" src="{{ url_for('static', filename = 'add_item.js') }}"></script>

        <script type=text/javascript>
            var items_index = {{items_index|tojson|safe}}
        </script>

{% endblock %}
