{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed">
    <img class="brand-img ml-4" src="/static/images/brand_img.png">
    <a class="navbar-brand brand" href="/">
        <span class="brand-title">
            RES
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="false">Buy</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/buy/all">All Items</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/buy/household">Household</a>
                    <a class="dropdown-item" href="/buy/furniture">Furniture</a>
                    <a class="dropdown-item" href="/buy/electronics">Electronics</a>
                    <a class="dropdown-item" href="/buy/appliances">Appliances</a>
                    <a class="dropdown-item" href="/buy/tools">Tools</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sell" tabindex="-1" aria-disabled="false">Sell</a>
            </li>
        </ul>
        <button class="cart btn btn-secondary my-2 mr-5 py-0" type="submit">
            View Cart
        </button>
    <div>
</nav>
<div class="container-fluid position-relative m-0 pl-0 pr-2">
    <div class="row banner-wrapper">
        <div class="col banner border-bottom border-light">
            <span class="banner-text font-weight-bold position-absolute p-5">
                The simplest way to buy
                <br>
                and sell your stuff
                <br>
                locally!
            </span>
        </div>
    </div>
    <div class="row pl-1 pl-sm-5">
        <div class="col-12 col-sm-2 mb-3 text-center">
            <a id="all" class="title-menu-item text-secondary font-weight-bold" href="/buy/all
            ">
                All Items
            </a>
        </div>
        <div class="col-12 col-sm-2 mb-3 text-center">
            <a id="household" class="title-menu-item text-secondary font-weight-bold" href="/buy/household">
                Household
            </a>
        </div>
        <div class="col-12 col-sm-2 mb-3 text-center">
            <a id="furniture" class="title-menu-item text-secondary font-weight-bold" href="/buy/furniture">
                Furniture
            </a>
        </div>
        <div class="col-12 col-sm-2 mb-3 text-center">
            <a id="electronics" class="title-menu-item text-secondary font-weight-bold" href="/buy/electronics">
                Electronics
            </a>
        </div>
        <div class="col-12 col-sm-2 mb-3 text-center">
            <a id="appliances" class="title-menu-item text-secondary font-weight-bold" href="/buy/appliances">
                Appliances
            </a>
        </div>
        <div class="col-12 col-sm-2 mb-3 text-center">
            <a id="tools" class="title-menu-item text-secondary font-weight-bold" href="/buy/tools">
                Tools
            </a>
        </div>
        <hr class="mt-4 mb-4">
    </div>
    <div class="row buy_info">
        <div id="info_1_left" class="col text-secondary font-weight-bold p-5 overflow-auto">
            <p class="p-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum eu facilisis sed odio. Commodo ullamcorper a lacus vestibulum sed arcu non odio. Scelerisque eu ultrices vitae auctor eu augue ut lectus. Adipiscing elit duis tristique sollicitudin nibh sit. Elementum integer enim neque volutpat ac tincidunt vitae semper.
            </p>
        </div>
        <div id="info_1_right" class="col text-light font-weight-bold p-5 overflow-auto">
        </div>
    </div>
    <div class="row pl-5 pt-3">
        <div class="col pt-2 pl-4 featured font-weight-bold text-dark">
            <p>
                Featured Items
            </p>
        </div>
    </div>
    <div class="row pl-5 featured_list">
        <div id="featured_items" class="col p-2 info_divider">
            <a href="/item/2">
                <img class="featured_img" src="{{items[2].image}}">
            </a>
            <a href="/item/21">
                <img class="featured_img" src="{{items[21].image}}">
            </a>
            <a href="/item/21">
                <img class="featured_img" src="{{items[21].image}}">
            </a>
            <a href="/item/4">
                <img class="featured_img" src="{{items[4].image}}">
            </a>
            <a href="/item/15">
                <img class="featured_img" src="{{items[15].image}}">
            </a>
            <a href="/item/26">
                <img class="featured_img" src="{{items[26].image}}">
            </a>
        </div>
    </div>
    <div class="row buy_info">
        <div id="info_2_left" class="col text-light font-weight-bold p-5 overflow-auto">
        </div>
        <div id="info_2_right" class="col font-weight-bold p-5 overflow-auto">
            <p class="p-5">
                A diam maecenas sed enim ut. Tellus orci ac auctor augue. Tincidunt praesent semper feugiat nibh. Adipiscing elit ut aliquam purus. Ac ut consequat semper viverra nam libero. Facilisi morbi tempus iaculis urna id volutpat lacus. Pulvinar pellentesque habitant morbi tristique senectus et netus et malesuada. Metus dictum at tempor commodo ullamcorper a lacus vestibulum.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col base_buyer text-center p-4">
            <p class="mb-4 pt-3">
            <a class="base_item m-5 font-weight-bold" href="/buy/household">
                Household
            </a>
            <a class="base_item m-5 font-weight-bold" href="/buy/furniture">
                Furniture
            </a>
            <a class="base_item m-5 font-weight-bold" href="/buy/electronics">
                Electronics
            </a>
            <a class="base_item m-5 font-weight-bold" href="/buy/appliances">
                Appliances
            </a>
            <a class="base_item m-5 font-weight-bold" href="/buy/tools">
                Tools
            </a>
            </p>
            <p class="m-4"><u>
                <a class="base_item pt-5 m-5" href="/sell" tabindex="-1" aria-disabled="false">Sell with us!</a>
            </u></p>
            <p>
                <small class="base_item">
                    &copy; Copyright 2019. All rights reserved.
                </small>
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}

        <script type="text/javascript" src="{{ url_for('static', filename = 'buy.js') }}"></script>

        <script type="text/javascript">
            var items = {{items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var household_items = {{household_items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var furniture_items = {{furniture_items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var electronics_items = {{electronics_items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var appliances_items = {{appliances_items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var tools_items = {{tools_items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var buyers_search_items = {{buyers_search_items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var users = {{users|tojson|safe}}
        </script>

        <script type="text/javascript">
            var current_user = {{current_user|tojson|safe}}
        </script>

{% endblock %}
