{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed">
    <img class="brand-img ml-4" src="/static/images/brand_img.png">
    <a class="navbar-brand brand" href="/">
        <span class="brand-title">
            RES
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="false">Buy</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/buy/all">All Items</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/buy/household">Household</a>
                    <a class="dropdown-item" href="/buy/furniture">Furniture</a>
                    <a class="dropdown-item" href="/buy/electronics">Electronics</a>
                    <a class="dropdown-item" href="/buy/appliances">Appliances</a>
                    <a class="dropdown-item" href="/buy/tools">Tools</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sell" tabindex="-1" aria-disabled="false">Sell</a>
            </li>
        </ul>
        <button class="cart btn btn-secondary my-2 mr-5 py-0" type="submit">
            View Cart
        </button>
    <div>
</nav>
<div class="container-fluid position-relative m-0 pl-0 pr-2">
    <div class="row banner-wrapper">
        <div class="col banner border-bottom border-light">
            <span class="banner-text font-weight-bold position-absolute p-5">
                The simplest way to buy
                <br>
                and sell your stuff
                <br>
                locally!
            </span>
        </div>
    </div>
    <div class="row pl-1 pl-sm-5">
        <div class="col-12 col-sm-2 mb-3 text-center">
            <a id="all" class="title-menu-item text-secondary font-weight-bold" href="/buy/all
            ">
                All Items
            </a>
        </div>
        <div class="col-12 col-sm-2 mb-3 text-center">
            <a id="household" class="title-menu-item text-secondary font-weight-bold" href="/buy/household">
                Household
            </a>
        </div>
        <div class="col-12 col-sm-2 mb-3 text-center">
            <a id="furniture" class="title-menu-item text-secondary font-weight-bold" href="/buy/furniture">
                Furniture
            </a>
        </div>
        <div class="col-12 col-sm-2 mb-3 text-center">
            <a id="electronics" class="title-menu-item text-secondary font-weight-bold" href="/buy/electronics">
                Electronics
            </a>
        </div>
        <div class="col-12 col-sm-2 mb-3 text-center">
            <a id="appliances" class="title-menu-item text-secondary font-weight-bold" href="/buy/appliances">
                Appliances
            </a>
        </div>
        <div class="col-12 col-sm-2 mb-3 text-center">
            <a id="tools" class="title-menu-item text-secondary font-weight-bold" href="/buy/tools">
                Tools
            </a>
        </div>
        <hr class="mt-4 mb-4">
    </div>
    <div class="row buy_info pl-2 pl-sm-0 border">
        <div id="info_1_left" class="col-8 col-sm-6 text-dark p-1 p-sm-2 p-md-3 p-lg-4 p-xl-5 overflow-auto text-center">
            <span class="info_text position-absolute">
                <p class="header_2 pl-sm-2">
                    <b>Start shopping on Res!</b>
                </p>
                <hr style="width: 80%; border-color: #ffe9a6;">
                <p class="header_4 text-info pl-2 pt-2 pt-sm-3 pt-md-4 mx-5" style="width: 90%;">
                    <b>Browse our listings for quality pre-owned items at attractive prices!</b>
                </p>
                <p class="pl-4 pl-sm-5 pl-md-5 pl-lg-5 p-0 p-sm-2 p-md-3 p-lg-4 mx-5 text-left">
                    <br>
                        Filter listings by category, and search for items by keyword or location. 
                    <br>
                    <br>
                        Find something you like? Add it to your cart to alert the seller that you're interested.  
                    <br>
                    <br>
                        Contact the seller to arrange to complete the transaction at your convenience.  
                    <br>
                </p>
                <p class="header_4 text-info">
                    <b>All done! Now enjoy your new stuff!</b> 
                </p>
            </span>
        </div>
        <div id="info_1_right" class="col-4 col-sm-6 text-light font-weight-bold p-5 overflow-auto">    
        </div>
    </div>
    <div class="row pl-5 pt-4">
        <div class="col pt-2 pl-4 featured font-weight-bold text-dark">
            <p>
                Featured Items
            </p>
        </div>
    </div>
    <div class="row pl-5 mb-2">
        <div id="featured_items" class="col pt-4 info_divider">
            <img id="scroll_left" class="scroll_arrows position-absolute" src=/static/images/left_arrow.png>
            <div class="featured_list">
            <a class="px-3" href="/item/2">
                <img class="featured_img" src="{{items[2].image}}">
            </a>
            <a class="px-3" href="/item/12">
                <img class="featured_img" src="{{items[12].image}}">
            </a>
            <a class="px-3" href="/item/21">
                <img class="featured_img" src="{{items[21].image}}">
            </a>
            <a class="px-3" href="/item/4">
                <img class="featured_img" src="{{items[4].image}}">
            </a>
            <a class="px-3" href="/item/15">
                <img class="featured_img" src="{{items[15].image}}">
            </a>
            <a class="px-" href="/item/26">
                <img class="featured_img" src="{{items[26].image}}">
            </a>
            </div>
            <img id="scroll_right" class="scroll_arrows position-absolute" src=/static/images/right_arrow.png>
        </div>
    </div>
    <div class="row buy_info pl-2 pl-sm-0 border">
        <div id="info_2_left" class="col-4 col-sm-6 font-weight-bold p-5 overflow-auto">
        </div>
        <div id="info_2_right" class="col-8 col-sm-6 p-1 p-sm-2 p-md-3 p-lg-4 p-xl-5 overflow-auto text-center">
            <span class="info_text position-absolute">
                <p class="header_2 pl-sm-2 ml-5" style="width: 80%">
                    <b>Res makes it easy to buy and sell household goods!</b>
                </p>
                <p class="header_4 pl-2 pt-2 pt-sm-3 pt-md-4 mx-2 text-dark">
                    <b>Because who doesn't love a good deal?</b>
                </p>
                <hr style="width: 20%" class="my-4">
                <ol class="pl-1 text-center" style="list-style-position: inside;">
                    <li><p>
                        Pre-approved items. 
                    </p></li>
                    <li><p>
                        Simple and easy to use.  
                    </p></li>
                    <li><p>
                        Affordable prices.  
                    </p></li>
                    <li><p>
                        Friendly feedback and suggestions.  
                    </p></li>
                    <li><p>
                        No fees. No red tape.  
                    </p></li>
                </ol>
                <hr style="width: 20%" class="my-4">
                <p class="header_4 text-dark">
                    <b>What's not to love?</b> 
                </p>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col base_buyer text-center p-4">
            <p class="mb-4 pt-3">
            <a class="base_item m-5 font-weight-bold" href="/buy/household">
                Household
            </a>
            <a class="base_item m-5 font-weight-bold" href="/buy/furniture">
                Furniture
            </a>
            <a class="base_item m-5 font-weight-bold" href="/buy/electronics">
                Electronics
            </a>
            <a class="base_item m-5 font-weight-bold" href="/buy/appliances">
                Appliances
            </a>
            <a class="base_item m-5 font-weight-bold" href="/buy/tools">
                Tools
            </a>
            </p>
            <p class="m-4"><u>
                <a class="base_item pt-5 m-5" href="/sell" tabindex="-1" aria-disabled="false">Sell with us!</a>
            </u></p>
            <p>
                <small class="base_item">
                    &copy; Copyright 2019 Resruum, Inc. All rights reserved.
                </small>
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}

        <script type="text/javascript" src="{{ url_for('static', filename = 'buy.js') }}"></script>

        <script type="text/javascript">
            var items = {{items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var household_items = {{household_items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var furniture_items = {{furniture_items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var electronics_items = {{electronics_items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var appliances_items = {{appliances_items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var tools_items = {{tools_items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var buyers_search_items = {{buyers_search_items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var users = {{users|tojson|safe}}
        </script>

        <script type="text/javascript">
            var current_user = {{current_user|tojson|safe}}
        </script>

{% endblock %}
