{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="brand-img ml-4" src="../static/images/brand_img.png">
    <a class="navbar-brand brand" href="../">
        <span class="brand-title">
            RES
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../buy">All Items</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Household</a>
                    <a class="dropdown-item" href="#">Furniture</a>
                    <a class="dropdown-item" href="#">Electronics</a>
                    <a class="dropdown-item" href="#">Appliances</a>
                    <a class="dropdown-item" href="#">Tools</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../sell" tabindex="-1" aria-disabled="false">Sell</a>
            </li>
        </ul>
        <button class="btn btn-info back m-2  py-0" type="button">
            Back
        </button>
        <button class="home btn btn-secondary my-2 my-sm-0 mr-5 py-0" type="submit">
            Home
        </button>
    <div>
</nav>
<div class="container-fluid">
    <div class="row m-4">
        <div class="col">
            <h5 class="text-uppercase mb-3">
                Cart
            </h5>
        </div>
    </div>
    <div class="row m-4">
        <div class="col">
            <ul id="cart" class=" pl-0">
            </ul> 
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}

        <script type="text/javascript" src="{{ url_for('static', filename = 'cart.js') }}"></script>

        <script type="text/javascript">
            var cart_items = {{cart_items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var items = {{items|tojson|safe}}
        </script>

{% endblock %}
