{% extends 'base.html' %}
{% block content %}
<div id="home" class="container-fluid">
    <div class="home-brand-wrapper position-fixed">
    <div class="row m-0 pr-5">
        <div class="col text-center pl-0 pr-5">
            <img id="brand-img-home" class="pb-3" src="../static/images/brand_img.png">
            <a class="brand text-info" href="../">
                <span id="brand-title-home" class="align-bottom">
                    RES
                </span>
            </a>          
        </div>
    </div>
    <div class="row m-0 pl-0 pr-5">
        <div class="col m-0 text-center">
            <small class="align-top ml-5">
                Buy and sell your stuff locally.
            </small>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col text-center pl-3 pr-0 mr-3">
                <button id="buy" class="btn btn-info d-inline-block m-2 pl-5 pr-5" type="submit">
                    Buy
                </button>
                <button id="sell" class="btn btn-outline-info d-inline-block m-2 pl-5 pr-5" type="submit">
                    Sell
                </button>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block javascript %}

        <script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

{% endblock %}
