{% extends 'base.html' %}
{% block content %}
<div id="added_flash" class="alert_flash alert pt-4 text-center text-light font-weight-bold position-fixed bg-info overflow-auto">
    <p>
        An item has been added to your cart!
    </p>
    <p>
        Click 'View Cart' in the menu to see it.
    </p>
</div>
<div id="sent_flash" class="alert_flash alert pt-4 text-center text-light font-weight-bold position-fixed bg-info overflow-auto">
    <p>
        Your message was sent to the seller!
    </p>
</div>
<div id="error_flash" class="alert_flash alert pt-4 text-center text-light font-weight-bold position-fixed bg-info overflow-auto">
    <p>
        Ooops! Well this is embarrasing... 
    </p>
    <p>
        Something went wrong. Please try again.
    </p>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="brand-img ml-4" src="/static/images/brand_img.png">
    <a class="navbar-brand brand" href="/">
        <span class="brand-title">
            RES
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/buy/all">All Items</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/buy/household">Household</a>
                    <a class="dropdown-item" href="/buy/furniture">Furniture</a>
                    <a class="dropdown-item" href="/buy/electronics">Electronics</a>
                    <a class="dropdown-item" href="/buy/appliances">Appliances</a>
                    <a class="dropdown-item" href="/buy/tools">Tools</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sell" tabindex="-1" aria-disabled="false">Sell</a>
            </li>
        </ul>
        <button class="btn btn-info back m-2  py-0" type="button">
            Back
        </button>
        <button class="cart btn btn-secondary my-2 py-0" type="submit">
            View Cart
        </button>
        <button class="home btn btn-light my-2 mr-5 py-0" type="submit">
            Home
        </button>
    <div>
</nav>
<div class="container-fluid">
    <div class="row m-4">
        <div id="item-left-side" class="col-6 mt-5 mb-1 text-center">
            <img class="item-img img-fluid mb-5 mb-sm-4 mb-md-3 mb-lg-0" src="{{item.image}}">
        </div>
        <div class="col-6 p-0 pt-5 p-sm-5">
            <span class="title d-block ml-3 mr-3 mt-3 mb-1">{{item.title}}</span>
            <span class="location text-secondary d-block ml-3 mr-3 mb-3">{{item.location}}</span>
            <span class="price d-block m-3">${{item.price}}</span>
            <span class="details d-block m-3 mt-4">{{item.details}}</span>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="contact_seller" tabindex="-1" role="dialog" aria-labelledby="contact_seller_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-dark" id="contact_seller_label">Enter your message below...</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-0">
        <form id="add_item_form">
                <div class="form-group">
                    <textarea class="form-control" id="contact_seller_message" rows="3" required></textarea>
                    <small id="contact_seller_message_help" class="m-1 form-text text-muted">Some suggestions: Is the item still available? Contact me at janedoe@example.com to discuss. Is the price negotiable?</small>
                </div>
            </form>
      </div>
      <div class="modal-footer p-1">
        <button type="button" class="close_modal btn btn-secondary m-2 py-0" data-dismiss="modal">Close</button>
        <button type="button" class="send btn btn-info m-2 py-0">Send</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}

        <script type="text/javascript" src="{{ url_for('static', filename = 'item.js') }}"></script>

        <script type="text/javascript">
            var item = {{item|tojson|safe}}
        </script>

        <script type="text/javascript">
            var items = {{items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var current_user = {{current_user|tojson|safe}}
        </script>

        <script type="text/javascript">
            var users = {{users|tojson|safe}}
        </script>

{% endblock %}
