{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="brand-img ml-4" src="../static/images/brand_img.png">
    <a class="navbar-brand brand" href="../">
        <span class="brand-title">
            RES
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../add_item" tabindex="-1" aria-disabled="false">Add Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../buy" tabindex="-1" aria-disabled="false">Buy</a>
            </li>
        </ul>
    <div>
</nav>
<div class="container-fluid m-0 pl-0 pr-2">
    <div class="row buy_info">
        <div id="info_3_left" class="col text-light font-weight-bold p-5 overflow-auto text-center">
            <p>
                <h3>Need to sell your stuff?</h5>
            </p>
            <p>
                <h4>Listing items on Res is quick and simple!</h4>
            </p>
            <p>
                Click 'add item' in the menu to list your item on Res. Once your item is approved it will be listed publicly and displayed below among your items for sale. 
            </p>
            <p>
                You can update your items at any time on this page or the item's page by selecting update and resubmitting the item for approval.  
            </p>
            <p>
                To quickly delete your item just select delete on the item page or item listing below and confirm.  
            </p>
            <p>
                <h4>That's it! Quick and easy! No hastle, no fees!</h4>  
            </p>
        </div>
        <div id="info_3_right" class="col text-light font-weight-bold p-5 overflow-auto">
            
        </div>
    </div>
    <div class="row pt-4 pl-5">
        <div class="col mb-3">
            <h5 class="text-uppercase mb-3">
                Your Items
            </h5>
            <hr>
            <form class="form-inline mt-3 mb-0">
                <input id="search_input" class="form-control mr-2" type="search" placeholder="keyword, borough, or Zip Code" aria-label="Search">
                <button id="search" class="btn btn-info my-2" type="submit">
                    Search
                </button>
                <button id="clear" class="btn btn-outline-secondary border-0 my-2 ml-4" type="submit">
                    Clear Search Results
                </button>
            </form>
            <small class="m-2">
                Try searching to narrow your results.
            </small>
        </div>
    </div>
    <div id="items" class="row pl-4 bg-light justify-content-center">
    </div>
    <div  class="row">
        <div class="col base_seller bg-white font-weight-bold p-4 text-center">
            <p class="mb-4 pt-3">
                <a class="text-secondary m-5 font-weight-bold" href="/buy/household">
                    Household
                </a>
                <a class="text-secondary m-5 font-weight-bold" href="/buy/furniture">
                    Furniture
                </a>
                <a class="text-secondary m-5 font-weight-bold" href="/buy/electronics">
                    Electronics
                </a>
                <a class="text-secondary m-5 font-weight-bold" href="/buy/appliances">
                    Appliances
                </a>
                <a class="text-secondary m-5 font-weight-bold" href="/buy/tools">
                    Tools
                </a>
            </p>
            <p class="m-4"><u>
                <a class="base_item pt-5 m-5" href="/buy" tabindex="-1" aria-disabled="false">See what's for sale!</a>
            </u></p>
            <p>
                <small>
                    &copy; Copyright 2019 Resruum, Inc. All rights reserved.
                </small>
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}

        <script type="text/javascript" src="{{ url_for('static', filename = 'sell.js') }}"></script>

        <script type="text/javascript">
            var items = {{items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var sellers_search_items = {{sellers_search_items|tojson|safe}}
        </script>

        <script type="text/javascript">
            var current_user = {{current_user|tojson|safe}}
        </script>

{% endblock %}
