{% extends 'base.html' %}
{% block content %}
<div id="error_flash" class="alert_flash alert pt-4 text-center text-light font-weight-bold position-fixed bg-info overflow-auto">
    <p>
        Ooops! Well this is embarrasing... 
    </p>
    <p>
        Something went wrong. Please try again.
    </p>
</div>
<div id="update_flash" class="alert_flash alert pt-4 text-center text-light font-weight-bold position-fixed bg-info overflow-auto">
    <p>
        You successfully updated your listing!
    </p>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="brand-img ml-4" src="../static/images/brand_img.png">
    <a class="navbar-brand brand" href="../">
        <span class="brand-title">
            RES
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../sell" tabindex="-1" aria-disabled="false">Your Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../add_item" tabindex="-1" aria-disabled="false">Add Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../" tabindex="-1" aria-disabled="false">Buy</a>
            </li>
        </ul>
    <div>
</nav>
<div class="container-fluid">
    <div class="row m-4">
        <div class="col">
            <h5 class="text-uppercase mb-3">
                Update Item
            </h5>
            <form id="update_item_form">
                <div class="form-group">
                    <label for="item-id">Item ID:</label>
                    <input id="item-id" class="form-control" type="number" value="{{current_item.item_id}}" readonly>
                </div>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input id="title" class="form-control" type="text" aria-describedby="titleHelp" value="{{current_item.title}}" minlength="2" required>
                    <small id="titleHelp" class="m-1 form-text text-muted">Please enter the name of the item you wish to sell.</small>
                </div>
                <div class="form-group">
                    <label for="location">Location:</label>
                    <input id="location" class="form-control" type="text" aria-describedby="locationHelp" value="{{current_item.location}}" minlength="2" required>
                    <small id="locationHelp" class="m-1 form-text text-muted">Please enter the location of the item in the following format: State, City/Borough, Zip Code</small>
                </div>
                <div class="form-group">
                    <label for="img">Image:</label>
                    <input id="img" class="form-control" type="url" aria-describedby="imgHelp" value="{{current_item.image}}" required>
                    <small id="imgHelp" class="m-1 form-text text-muted">Please enter the url of an image for the item. You can create one for free at: https://imgbb.com.</small>
                </div>
                <div class="form-group">
                    <label for="textareaDetails">Details:</label>
                    <textarea class="form-control" id="textareaDetails" value="{{current_item.details}}" rows="3" required>{{current_item.details}}</textarea>
                    <small id="textareaDetailsHelp" class="m-1 form-text text-muted">Describe the item in the area above.</small>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input id="price" class="form-control" type="text" aria-describedby="priceHelp" value="{{current_item.price}}" minlength="5" required>
                    <small id="priceHelp" class="m-1 form-text text-muted">Please enter the price of the item in the following format: $dd.cc</small>
                </div>
            </form>
            <button id="submit_item" type="submit" class="btn btn-info mb-5 float-right">
                Submit
            </button>
            <button id="cancel" type="button" class="btn btn-secondary mb-5 mx-2 float-right">
                Cancel
            </button>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}

        <script type="text/javascript" src="{{ url_for('static', filename = 'update_item.js') }}"></script>


        <script type="text/javascript">
            var current_item = {{current_item|tojson|safe}}
        </script>

{% endblock %}
