body {
	font-size: 11pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

a {
    text-decoration:  none;
}

a:hover {
    text-decoration:  none;
}

a:visited {
    text-decoration:  none;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.8;
}

input[placeholder]{
    text-overflow: ellipsis;
    font-size: small;
    min-width: 256px;
}

small {
    color: #6c757d;
}

hr {
    border: solid 1px;
    border-color: rgb(245, 245, 245, 0.8);
}

h5 {
    min-width: 98px;
}

ul {
  list-style-type: square;
}



.alert_flash {
    top: -130px;
    min-width: 400px !important;
    height: 114px;
    border-radius: 5px;
    box-shadow: 2px 3px 15px rgb(128, 128, 128, 0.9);
    transition: top 0.5s ease-in-out;
    left: 50%;
    margin-left: -200px;
    z-index: 300;
}

.alert_hide {
    top: -130px;
}

.alert_show {
    top: 0px;
}

.home-brand-wrapper{
    top: 35%;
    left: 50%;
    margin-left: -218.5px;
}

.btn-secondary{
    background-color: #b2b2b2 !important;
    border-color: #b2b2b2 !important;
}

.navbar{
    top: 0px !important;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 2px 3px rgb(205, 205, 205, 0.8);
}

.banner {
    min-height: 650px;
    background-image: url(../images/banner_0.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    top: -30px;
    box-shadow: 0px 3px 5px rgb(240, 240, 240, 0.8);
    animation: slideshow 80s linear infinite;
} 

@keyframes slideshow {
  0%   {background-image: url(../images/banner_0.png);}
  11.5%   {background-image: url(../images/banner_0.png);}
  12.5%   {background-image: url(../images/banner_1.png);}
  24%   {background-image: url(../images/banner_1.png);}
  25%   {background-image: url(../images/banner_2.png);}
  36.5%   {background-image: url(../images/banner_2.png);}
  37.5%   {background-image: url(../images/banner_4.png);}
  49%   {background-image: url(../images/banner_4.png);}
  50%   {background-image: url(../images/banner_5.png);}
  61.5%   {background-image: url(../images/banner_5.png);}
  62.5%   {background-image: url(../images/banner_6.png);}
  74%   {background-image: url(../images/banner_6.png);}
  75%   {background-image: url(../images/banner_7.png);}
  86.5%   {background-image: url(../images/banner_7.png);}
  87.5%   {background-image: url(../images/banner_8.png);}
  99%   {background-image: url(../images/banner_8.png);}
  100%   {background-image: url(../images/banner_0.png);}
}

.banner-text {
    color: #f8f9fa;
    text-shadow: 1px 1px 10px rgb(64, 64, 64, 0.8);
    font-size: 42px;
    top: 5%;
}

.banner-wrapper {
    min-height: 700px;
}

.container-fluid{
    top: 50px;
}

.brand-img {
    height: 32px;
    opacity: 0.9;
}

.brand-title {
    font-weight: bold;
    color: #17a2b8;
}

.brand-img:hover {
    opacity: .9;
}

.brand-title:hover {
    opacity: 0.6;
}

.item-img {
    max-height: 400px;
    max-width: 400px;
    border-radius: 10px;
}

.item-thumbnail {
    height: 175px;
    border-radius: 10px;
    opacity: 0.9;
    transition: opacity .25s ease-in-out;;
}

.item-thumbnail:hover {
    opacity: 1;
    cursor: pointer;
}

.item-mini {
    max-height: 100px;
    max-width: 100px;
    border-radius: 3px;
}

.title {
	font-size: 28px;
	font-weight: bold;
}

.location {
	font-size: 16px;
}

.price {
	font-size: 24px;
}

.btn-info:hover {
    background-color: #ffffff;
    color: #17a2b8;
}

.btn-secondary:hover {
    background-color: #ffffff !important;
    color: #6c757d !important;
}

.add_to_cart.btn-outline-info {
    border-radius: 0px;
    border: none;
    font-weight: bold;

}

.view.btn-outline-secondary {
    border-radius: 0px;
    border: none;
    font-weight: bold;

}

.view {
    border-radius: 0px;
}

.remove {
    border-radius: 0px;
}

.cart.btn {
    border-radius: 0px;
/*    box-shadow: 1px 1px 1px rgb(140, 140, 140, 0.5); */
}

.home.btn {
    border-radius: 0px;
}

.back.btn {
    border-radius: 0px;
}

.close_modal.btn {
    border-radius: 0px;
}

.send.btn {
    border-radius: 0px;
}


.item {
    min-width: 280px !important;
    max-width: 280px !important;
    position: relative;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgb(240, 240, 240, 0.8);
}

.item_title {
    height: 24px !important;
    font-size: small;
}

.buy_price {
    color: red;
    font-size: 18px;
}

.sell_price {
    color: #6c757d;
    font-size: 18px;
}

.cart_price {
    color: red;
    font-size: 18px;
}

.text-muted {
    color: #9a9b9e !important;
}

.update  {
    border-radius: 0px;
    font-weight: bold;
}

.delete  {
    border-radius: 0px;
    font-weight: bold;
}

.cancel  {
    border-radius: 0px;
}

.add_to_cart  {
    border-radius: 0px;
}

.contact  {
    border-radius: 0px;
}

.title-menu {
    line-height: 3em;
}

.title-menu-item:hover {
    opacity: 0.2;
    text-shadow: 0px 2px 30px rgba(140, 140, 140, 0.6);
}

.titel-menu-thumbnail {

    height: 75px;
    width: 75px;
}

.dropdown-item {
    font-size: small;
}

.buy_info {
    height: 550px;
    opacity: 0.8;
    color: #f8f9fa;
    text-shadow: 0px 0px 1px rgb(64, 64, 64, 0.8);
    font-size: 13px;
}

.sell_info {
    margin-top: -100px;
    height: 550px;
    opacity: 0.8;
    color: #f8f9fa;
    text-shadow: 0px 0px 1px rgb(64, 64, 64, 0.8);
    font-size: 20px;
}

.info_divider {
    height: 400px;
}

.featured_img{
    height: 250px;
    width: 250px;
}

.base_buyer {
    height: 175px;
    color: #17a2b8;
    background-color: #b7dfe6;
    box-shadow: 0px -1px 1px #e5e5e5;
    border-color: #d5d5d5 !important;
}

.base_item {
    color: #17a2b8 !important;
}

.base_seller {
    height: 175px;
    box-shadow: 0px -1px 1px #e5e5e5;
    border-color: #d5d5d5 !important;
}

.featured {
    font-size: 24px;  
}

.featured_list {
    overflow-x: scroll;
    white-space: nowrap;
    height: 325px;
    width: inherit;
}

.scroll_arrows {
    z-index: 200;
    height: 75px;
    opacity: 0.5;
}

.scroll_arrows:hover {
    opacity: 1;
}

.header_1 {
        font-size: 2rem !important;
    }
.header_3 {
    font-size: 1.5rem !important;
}
.header_4 {
    font-size: 1.25rem !important;
}

#scroll_left{
    top: 30%;
    left: -40px;
}

#scroll_right{
    top: 30%;
    right: 3px;
}

#info_1_left {
    background-color: #f8f9fa;
}

#info_1_right {
    background-image: url(../images/info_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#info_2_left {
    background-image: url(../images/info_3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#info_2_right {
    background-color: #e8dac4;
    color: #9f775b;
}

#info_3_left {
    background-color: #17a2b8;
    top: 12%;
    left: 1%;
}

#info_3_right {
    background-image: url(../images/info_4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#info_4_left {
    background-image: url(../images/info_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#home {

    background-image: url()
}

#cart {
    list-style: none;
}

#buy {
    width: 200px;
}

#sell {
    width: 200px;
}

#clear {
    top: 80px;
    right: 80px;
    
}

#brand-img-home {
    height: 72px;
    opacity: 1;
}

#brand-title-home {
    font-weight: bold;
    font-size: 64px;
}

#brand-title-home:hover {
    opacity: 0.6;
    color: #17a2b8;
}

#brand-img-home:hover {
    opacity: 1;
}

#clear:hover {
    background-color: white;
    text-decoration: underline;
    border: none;
    color: #6c757d;
}

#search_input[placeholder] {
    color: #f8f9fa;
    font-style: italic;
}

@media only screen and (max-width: 1199.98px) {
    #clear {
        right: 60px;   
    }
}

@media only screen and (max-width: 991.98px) {
    #clear {
        right: 50px;   
    }
}

@media only screen and (max-width: 767.98px) {
    #clear {
        right: 30px;   
    }
}

@media only screen and (max-width: 575.98px) {
    #clear {
        right: 15px;
    }
    .header_1 {
        font-size: 1.5rem !important;
    }
    .header_3 {
        font-size: 1.175rem !important;
    }
    .header_4 {
        font-size: 1rem !important;
    }
}

@media only screen and (max-width: 414.98px) {
    .home-brand-wrapper{
        left: 0%;
    }
}




